<a href="https://colab.research.google.com/github/EZYRON1009/PREDICT-EMPLOYEE-RETENTION/blob/main/PREDICT_EMPOLYEE_RETENTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PREDICT EMPLOYEE RETENTION

In [2]:
import pandas as pd 
import numpy as np
df=pd.read_csv('/content/hr.csv')

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
#convert categorical to numeric values
feats=['department','salary']
df_final=pd.get_dummies(df,columns=feats,drop_first=True)

In [5]:
df_final

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department_RandD,department_accounting,department_hr,department_management,department_marketing,department_product_mng,department_sales,department_support,department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0

In [6]:
#Split data into training and test set
from sklearn.model_selection import train_test_split
X=df_final.drop(['left'],axis=1).values
y=df_final['left'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [9]:
classifier=Sequential()

In [10]:
classifier.add(Dense(9, kernel_initializer = "uniform",activation = "relu", input_dim=18))

In [11]:
classifier.add(Dense(1, kernel_initializer = "uniform",activation = "sigmoid"))

In [12]:
classifier.compile(optimizer= "adam",loss = "binary_crossentropy",metrics = ["accuracy"])

In [13]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 8)

Epoch 1/8
1125/1125 [==============================] - 3s 2ms/step - loss: 0.4206 - accuracy: 0.7914
Epoch 2/8
1125/1125 [==============================] - 2s 2ms/step - loss: 0.2625 - accuracy: 0.8535
Epoch 3/8
1125/1125 [==============================] - 2s 2ms/step - loss: 0.2192 - accuracy: 0.9377
Epoch 4/8
1125/1125 [==============================] - 2s 2ms/step - loss: 0.1972 - accuracy: 0.9522
Epoch 5/8
1125/1125 [==============================] - 2s 2ms/step - loss: 0.1829 - accuracy: 0.9562
Epoch 6/8
1125/1125 [==============================] - 2s 2ms/step - loss: 0.1741 - accuracy: 0.9581
Epoch 7/8
1125/1125 [==============================] - 2s 2ms/step - loss: 0.1681 - accuracy: 0.9581
Epoch 8/8
1125/1125 [==============================] - 2s 1ms/step - loss: 0.1642 - accuracy: 0.9578

In [14]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

In [15]:
def make_classifier():
    classifier = Sequential()
    classifier.add(Dense(9, kernel_initializer = "uniform", activation = "relu", input_dim=18))
    classifier.add(Dense(1, kernel_initializer = "uniform", activation = "sigmoid"))
    classifier.compile(optimizer= "adam",loss = "binary_crossentropy",metrics = ["accuracy"])
    return classifier

In [16]:
classifier = KerasClassifier(build_fn = make_classifier, batch_size=10, nb_epoch=2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [17]:
accuracies = cross_val_score(estimator = classifier,X = X_train,y = y_train,cv = 10,n_jobs = -1)

In [18]:
mean = accuracies.mean()
mean

0.8244306087493897

In [19]:
from keras.layers import Dropout

classifier = Sequential()
classifier.add(Dense(9, kernel_initializer = "uniform", activation = "relu", input_dim=18))
classifier.add(Dropout(rate = 0.1))
classifier.add(Dense(1, kernel_initializer = "uniform", activation = "sigmoid"))
classifier.compile(optimizer= "adam",loss = "binary_crossentropy",metrics = ["accuracy"])

In [20]:
from sklearn.model_selection import GridSearchCV
def make_classifier(optimizer):
    classifier = Sequential()
    classifier.add(Dense(9, kernel_initializer = "uniform", activation = "relu", input_dim=18))
    classifier.add(Dense(1, kernel_initializer = "uniform", activation = "sigmoid"))
    classifier.compile(optimizer= optimizer,loss = "binary_crossentropy",metrics = ["accuracy"])
    return classifier

In [22]:
classifier = KerasClassifier(build_fn = make_classifier)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [23]:
params = {
    'batch_size':[20,35],
    'epochs':[2,3],
    'optimizer':['adam','rmsprop']
}

In [24]:
grid_search = GridSearchCV(estimator=classifier,
                           param_grid=params,
                           scoring="accuracy",
                           cv=2)

In [25]:
grid_search = grid_search.fit(X_train,y_train)

Epoch 1/2
282/282 [==============================] - 1s 2ms/step - loss: 0.5949 - accuracy: 0.7681
Epoch 2/2
282/282 [==============================] - 0s 2ms/step - loss: 0.3794 - accuracy: 0.8638
Epoch 1/2
282/282 [==============================] - 1s 2ms/step - loss: 0.5660 - accuracy: 0.7609
Epoch 2/2
282/282 [==============================] - 0s 2ms/step - loss: 0.3846 - accuracy: 0.8165
Epoch 1/2
282/282 [==============================] - 1s 2ms/step - loss: 0.5840 - accuracy: 0.7601
Epoch 2/2
282/282 [==============================] - 1s 3ms/step - loss: 0.4177 - accuracy: 0.7977
Epoch 1/2
282/282 [==============================] - 1s 1ms/step - loss: 0.5800 - accuracy: 0.7621
Epoch 2/2
282/282 [==============================] - 0s 1ms/step - loss: 0.4179 - accuracy: 0.7865
Epoch 1/3
282/282 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7548
Epoch 2/3
282/282 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.7961
Epoch 3/3
282/282 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8067
Epoch 1/3
282/282 [==============================] - 1s 2ms/step - loss: 0.5885 - accuracy: 0.7664
Epoch 2/3
282/282 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8469
Epoch 3/3
282/282 [==============================] - 0s 2ms/step - loss: 0.2823 - accuracy: 0.8983
Epoch 1/3
282/282 [==============================] - 1s 1ms/step - loss: 0.5890 - accuracy: 0.7571
Epoch 2/3
282/282 [==============================] - 0s 1ms/step - loss: 0.4222 - accuracy: 0.7945
Epoch 3/3
282/282 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8533
Epoch 1/3
282/282 [==============================] - 1s 1ms/step - loss: 0.5720 - accuracy: 0.7616
Epoch 2/3
282/282 [==============================] - 0s 1ms/step - loss: 0.4159 - accuracy: 0.7625
Epoch 3/3
282/282 [==============================] - 0s 1ms/step - loss: 0.3602 - accuracy: 0.8210
Epoch 1/2
161/161 [==============================] - 1s 2ms/step - loss: 0.6351 - accuracy: 0.7543
Epoch 2/2
161/161 [==============================] - 0s 2ms/step - loss: 0.4683 - accuracy: 0.7865
Epoch 1/2
161/161 [==============================] - 1s 2ms/step - loss: 0.6417 - accuracy: 0.7522
Epoch 2/2
161/161 [==============================] - 0s 2ms/step - loss: 0.4804 - accuracy: 0.7806
Epoch 1/2
161/161 [==============================] - 1s 1ms/step - loss: 0.6345 - accuracy: 0.7568
Epoch 2/2
161/161 [==============================] - 0s 1ms/step - loss: 0.4951 - accuracy: 0.7731
Epoch 1/2
161/161 [==============================] - 1s 1ms/step - loss: 0.6236 - accuracy: 0.7616
Epoch 2/2
161/161 [==============================] - 0s 1ms/step - loss: 0.4795 - accuracy: 0.7621
Epoch 1/3
161/161 [==============================] - 1s 2ms/step - loss: 0.6535 - accuracy: 0.7420
Epoch 2/3
161/161 [==============================] - 0s 2ms/step - loss: 0.5046 - accuracy: 0.7978
Epoch 3/3
161/161 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8540
Epoch 1/3
161/161 [==============================] - 1s 1ms/step - loss: 0.6371 - accuracy: 0.7564
Epoch 2/3
161/161 [==============================] - 0s 2ms/step - loss: 0.4668 - accuracy: 0.7991
Epoch 3/3
161/161 [==============================] - 0s 2ms/step - loss: 0.3799 - accuracy: 0.8064
Epoch 1/3
161/161 [==============================] - 1s 1ms/step - loss: 0.6391 - accuracy: 0.7546
Epoch 2/3
161/161 [==============================] - 0s 2ms/step - loss: 0.5109 - accuracy: 0.7914
Epoch 3/3
161/161 [==============================] - 0s 2ms/step - loss: 0.4263 - accuracy: 0.7993
Epoch 1/3
161/161 [==============================] - 1s 2ms/step - loss: 0.6243 - accuracy: 0.7607
Epoch 2/3
161/161 [==============================] - 0s 2ms/step - loss: 0.4814 - accuracy: 0.7669
Epoch 3/3
161/161 [==============================] - 0s 1ms/step - loss: 0.4111 - accuracy: 0.7988
Epoch 1/3
563/563 [==============================] - 1s 2ms/step - loss: 0.4890 - accuracy: 0.7576
Epoch 2/3
563/563 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.7847
Epoch 3/3
563/563 [==============================] - 1s 1ms/step - loss: 0.3001 - accuracy: 0.8821

In [26]:
best_param = grid_search.best_params_
best_accuracy = grid_search.best_score_

In [27]:
best_param

{'batch_size': 20, 'epochs': 3, 'optimizer': 'adam'}

In [28]:
best_accuracy

0.8678147937411096